<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="robots" content="nofollow" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page Not Found</title>
    <!-- Favicon -->
    <link rel="icon" href="/images/fav.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,&amp;display=swap" rel="stylesheet">
    <!-- Template CSS Files -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/line-awesome.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/jquery.filer.css">
    <link rel="stylesheet" href="/css/jquery.filer-dragdropbox-theme.css">
    <link rel="stylesheet" href="/css/select2.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- start per-loader -->
<div class="loader-container">
    <div class="loader-circle">
        <div class="loader">
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
            <div class="loader-dot"></div>
        </div>
    </div>
</div>
<!-- end per-loader -->

<!-- ================================
            START HEADER AREA
================================= -->
<header class="header-area header-area-2"  style="background-color: #2c2c51;">
    <div class="header-menu-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-full-width Snk-out">
                        <div class="logo">
                            <a href="/"><img src="/images/logo2.png" alt="logo"></a>
                        </div><!-- end logo -->
                        <div class="main-menu-content">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/">Home </a>
                                    </li>
                                    <li>
                                        <a href="jobs/job-search">Search Jobs </a>
                                    </li>
                                    <li>
                                        <a href="career-blog">Career Blog </a>
                                    </li>
                                    <li>
                                        <a href="company-review">Company Reviews</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end main-menu-content -->
                        <div class="logo-right-content">
                            <ul class="author-access-list">
                                <li>
                                    <a href="login">Login</a>
                                    <span class="or-text">|</span>
                                    <a href="sign-up">Sign up</a>
                                </li>
                                <li>
                                    <a href="employers" class="theme-btn">
                                        <span class="la la-plus"></span>
                                        For Employers
                                    </a>
                                </li>
                            </ul>
                            <div class="side-menu-open">
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                            </div><!-- end side-menu-open -->
                        </div><!-- end logo-right-content -->
                    </div><!-- end menu-full-width -->
                    <div id="Snk-P" style="display: none;" class="menu-full-width Snk-in">
                        <div class="logo">
                            <a href="/"><img src="/images/logo2.png" alt="logo"></a>
                        </div><!-- end logo -->
                        <div class="main-menu-content">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="/">Home </a>
                                    </li>
                                    <li>
                                        <a href="candidate/my-dashboard">My Dashboard</a>
                                    </li>
                                    <li>
                                        <a href="jobs/job-search">Search Jobs </a>
                                    </li>
                                    <li>
                                        <a href="career-blog">Career Blog </a>
                                    </li>
                                    <li>
                                        <a href="company-review">Company Reviews</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end main-menu-content -->
                        <div class="logo-right-content">
                            <div class="side-menu-open">
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                                <span class="menu__bar"></span>
                            </div><!-- end side-menu-open -->
                        </div><!-- end logo-right-content -->
                    </div><!-- end menu-full-width -->
                </div><!-- end col-lg-12 -->
            </div><!-- end row -->
        </div><!-- end container-fluid -->
    </div><!-- end header-menu-wrapper -->
    <div class="side-nav-container">
        <div class="humburger-menu">
            <div class="humburger-menu-lines side-menu-close"></div><!-- end humburger-menu-lines -->
        </div><!-- end humburger-menu -->
        <div class="side-menu-wrap Snk-out">
            <ul class="side-menu-ul ">
                <li>
                    <a href="/">Home <i class="la la-caret-down btn-toggle"></i></a>
                </li>
                <li>
                    <a href="jobs/job-search">Search Jobs <i class="la la-caret-down btn-toggle"></i></a>
                </li>
                
                <li>
                    <a href="career-blog">Career Blog <i class="la la-caret-down btn-toggle"></i></a>
                </li>
                <li>
                    <a href="company-review">Company Reviews</a>
                </li>
            </ul>
            <div class="side-nav-button">
                <a href="login">Login</a>
                <span class="or-text">|</span>
                <a href="sign-up">Sign up</a>
                <a href="employers" class="theme-btn">Employers</a>
            </div><!-- end side-nav-button -->
        </div><!-- end side-menu-wrap -->
        <div class="side-menu-wrap Snk-in" style="display: none;">
            <ul class="side-menu-ul">
                <li>
                    <a href="home">Home </a>
                </li>
                <li>
                    <a href="candidate/my-dashboard">Dashboard </a>
                </li>
                <li>
                    <a href="candidate/edit-profile">Profile  </a>
                </li>
                <li><a href="#">My Resume <i class="la la-caret-down btn-toggle"></i></a>
                    <ul class="dropdown-menu-item">
                        <li>
                            <a href="candidate/my-experience">Work Experience </a>
                        </li>
                        <li>
                            <a href="candidate/my-education">Education</i></a>
                        </li>
                        <li>
                            <a href="candidate/my-certification">Certification</a>
                        </li>
                        <li>
                            <a href="candidate/cv-and-cover-letter">CV &mp; Cover Letter</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Jobs <i class="la la-caret-down btn-toggle"></i></a>
                    <ul class="dropdown-menu-item">
                        <li>
                            <a href="jobs/job-search">Search Jobs</a>
                        </li>
                        <li>
                            <a href="candidate/applied-jobs"> My Applied Jobs</i></a>
                        </li>
                        </li>
                        <li>
                            <a href="candidate/saved-jobs"> My Saved Jobs</i></a>
                        </li>
                        <li>
                            <a href="candidate/Job-alert">Job Alert</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="career-blog">Career Blog</a>
                </li>
                <li>
                    <a href="company-review">Company Reviews</a>
                </li>
            </ul>
        </div><!-- end side-menu-wrap -->
    </div><!-- end side-nav-container -->
</header>
<!-- ================================
         END HEADER AREA
================================= -->

<!-- ================================
    START ERROR AREA
================================= -->
<section class="error-area padding-top-150px padding-bottom-50px text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="error-content">
                    <div class="section-heading">
                        <h2 class="sec__title mb-3">Page not found</h2>
                        <p class="sec__desc">It looks like you're trying
                            to access a page <br> that either has been deleted, renamed or never even existed.
                        </p>
                    </div><!-- end section-heading -->
                    <div class="btn-box mt-4">
                        <a href="/" class="theme-btn"><i class="la la-reply"></i> Return to Home</a>
                    </div>
                    <div class="error-img mt-4">
                        <img src="/images/404.jpg" alt="" class="img-fluid">
                    </div>
                </div><!-- end error-content -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end error-area -->
<!-- ================================
    END ERROR AREA
================================= -->

<div class="section-block"></div>

<!-- ================================
       START FOOTER AREA
================================= -->
<section class="footer-area padding-top-90px padding-bottom-30px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 column-td-6">
                <div class="footer-item">
                    <div class="logo">
                        <a href="/" class="foot-logo"><img src="/images/logo.png" alt="logo"></a>
                        <p class="footer__desc line-height-30 mt-3">
                            Caffeinna Creatives, Block 2 Peculiar Estate, Lokogoma, Abuja. <br>
                            +234 802-891-0431 <br>
                            hello@jobatrac.com.ng
                        </p>
                        <h4 class="footer__title mt-4">We are Social</h4>
                        <ul class="social-profile">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!-- end logo -->
                </div><!-- end footer-item -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-2 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">General</h4>
                    <ul class="list-items">
                        <li><a href="about-us">About</a></li>
                        <li><a href="career-blog">Blog</a></li>
                        <li><a href="contact-us">Research</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-2 -->
            <div class="col-lg-2 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">Job Seekers</h4>
                    <ul class="list-items">
                        <li><a href="jobs/job-search">Top Jobs</a></li>
                        <li><a href="candidate/cv-and-cover-letter">Upload Resume</a></li>
                        <li><a href="#">Resume Help</a></li>
                        <li><a href="career-blog">Career Advice</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-2 -->
            <div class="col-lg-2 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">Employers</h4>
                    <ul class="list-items">
                        <li><a href="https://agencies.jobatrac.com">Employer Login</a></li>
                        <li><a href="employers">Employer Center</a></li>
                        <li><a href="https://agencies.jobatrac.com">Post a Job</a></li>
                        <li><a href="contact-us">Post an Event</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-2 -->
            <div class="col-lg-2 column-td-6">
                <div class="footer-item">
                    <h4 class="footer__title">Helpful Links</h4>
                    <ul class="list-items">
                        <li><a href="contact-us">Contact Us</a></li>
                        <li><a href="faq">Help</a></li>
                        <li><a href="privacy-policy">Privacy Center</a></li>
                        <li><a href="faq">FAQ</a></li>
                    </ul>
                </div><!-- end footer-item -->
            </div><!-- end col-lg-2 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="copy-right margin-top-50px padding-top-30px">
                    <p class="copy__desc">
                        Copyright &copy;2022 Jobatrac
                    </p>
                    <ul class="list-items">
                        <li class="color-text-2 font-weight-medium">Powered by:</li>
                        <li ><a class="color-text" href="https://caffeinna.com.ng">Caffeinna Creatives</a></li>
                    </ul>
                </div><!-- end copy-right -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- ================================
       START FOOTER AREA
================================= -->

<!-- start back-to-top -->
<div id="back-to-top">
    <i class="fa fa-angle-up" title="Go top"></i>
</div>
<!-- end back-to-top -->

<!-- Template JS Files -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/isotope-3.0.6.min.js"></script>
<script src="/js/select2.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/daterangepicker.js"></script>
<script src="/js/purecounter.js"></script>
<script src="/js/jquery.filer.min.js"></script>
<script src="/js/progresscircle.js"></script>
<script src="/js/smooth-scrolling.js"></script>
<script src="/js/main.js"></script>
</body>

</html>