
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © NASCP.
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->



    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!-- JAVASCRIPT -->
    <script src="/admin/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/libs/simplebar/simplebar.min.js"></script>
    <script src="/admin/libs/node-waves/waves.min.js"></script>
    <script src="/admin/libs/feather-icons/feather.min.js"></script>
    <script src="/admin/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/admin/js/plugins.js"></script>
    <script src="/admin/libs/prismjs/prism.js"></script>

    <script src="/admin/libs/list.js/list.min.js"></script>
    <script src="/admin/libs/list.pagination.js/list.pagination.min.js"></script>

    <!-- listjs init -->
    <script src="/admin/js/pages/listjs.init.js"></script>

    <!-- Sweet Alerts js -->
    <script src="/admin/libs/sweetalert2/sweetalert2.min.js"></script>
    <!-- App js -->
    <script src="/admin/js/app.js"></script>
    <script src="/admin/js/applicants.js"></script>
</body>


</html>